<div class="container__big-card">

    <div class="big-card__photo">
        <img
         src="https://i.dell.com/is/image/DellContent//content/dam/ss2/product-images/dell-client-products/notebooks/latitude-notebooks/14-3420/global-spi/ng/notebook-latitude-14-3420-campaign-hero-504x350-ng.psd?fmt=jpg&wid=504&hei=334"
         height="250px"
         alt="">
    </div>

    <div class="big-card__title">
       <h1><a href="#">Saiu o novo notebook da Dell!</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            Conheça o mais novo modelo de notebook da Dell. Versátil, moderno e inovador! 
        </p>
    </div>

</div>
