<div class="container__small-card">

    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img
             src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/ipad-mini-finish-select-gallery-202211-pink-wifi_AV1_FMT_WHH?wid=1280&hei=720&fmt=p-jpg&qlt=95&.v=1670631638622"
             alt="">
        </div>
    
        <div class="small-card__title">
           <h1><a href="#">Saiu o novo notebook da Dell!</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>

