.container__small-card {
    width: 100%;
    margin-bottom: 15px;
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
}

.small-card__photo > img {
    width: 200px;
    min-width: 100px;
    max-height: 150px;
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__small-card__separator {
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .small-card__photo > img {
        width: 150px;
        padding: 10px;
        margin-right: 5px;
    }

    .small-card__title > h1 > a {
        font-size: 1rem;
    }

    .container__small-card-content {
        align-items: center;
    }
}